@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
section {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

h1 {
    margin: 150px;
    padding: 0;
    color: rgb(226, 226, 226);
}

.one {
    background-color: rgb(1, 10, 253, 0.8);
}

.two {
    background-color: rgba(1, 9, 253, 0.6);
}

.three {
    background-color: rgba(1, 9, 253, 0.8);
}
