{% extends "base.html" %}

{% block content %}
<h2 class="title">{{ section.title }}</h2>

{{ section.content | safe }}
<br>

<div class="columns">
    <div class="column is-centered has-text-centered">
        <h3 class="subtitle is-size-3">Certifications</h3>
    </div>
</div>

<div class="columns is-multiline">
{% for index in section.extra.cert %}
<table>
	<tr>
			<td style="height: 25%;"><strong>{{ index.name }}</strong></td>
	</tr>
	<tr>
			<td style="height: 25%;">{{ index.institute }}</td>
	</tr>
	<tr>
			<td style="height: 25%;">Issued {{ index.issued }}</td>
	</tr>
	<tr>
			<td style="height: 25%;">Credential ID {{ index.credential }}</td>
	</tr>
</table>
<br>
{% endfor %}

{% endblock content %}
