{% extends "base.html" %}

{% block content %}
<h1 class="title"> </h1>
<h2 class="title">Welcome human!</h2>
<p>I am a professional in software development with extensive experience in team and project management in various fields: banking, web development, defense, air traffic control, space, railways, and automotive. At this time, new areas of interest are Data Science and Web3 because only this way can one keep pace with trends in new technologies.</p>

<p>Here, you can read about my educational background, and the skills I gained throughout my career. Also, you are welcome to connect with me through links to social media mentioned on the website.</p>

<p>Thanks for stopping by, and I look forward to connecting with you!</p>
{% endblock content %}
