{% extends "base.html" %}

{% block content %}
<h1 class="title"> </h1>
<h2 class="title">Welcome human!</h2>
<p>I'm a software development expert with a strong background in managing teams and projects across multiple sectors, including banking, web development, defense, air traffic control, space, railway, and automotive. I'm now exploring new areas like Data Science and Web3 to keep up with new technology trends.</p>

<p>Here, you can learn about my educational background and the skills I've developed throughout my career. Feel free to connect with me through the social media links provided on this site.</p>

<p>Thanks for stopping by, and I look forward to connecting with you!</p>
{% endblock content %}